defaults: &defaults

  # sites hosts
  # session expire seconds
  # admin role account
  URL_HOST: 119.254.211.82:8080
  URL_SCHEMA: http
  SESSION_EXPIRE: 60
  ADMIN: 'admin@peatio.dev,admin@example.com'
  TIMEZONE: 'Beijing'

  REDIS_URL: redis://127.0.0.1:6379

  # below settings only in production env
  # system notify mail settings
  # --------------------------------------------------------------
  SMTP_PORT: 587
  SMTP_DOMAIN: sandbox99ef6d35abda486f8da0a0d114f9c819.mailgun.org
  SMTP_ADDRESS: smtp.mailgun.org
  SMTP_USERNAME: postmaster@sandbox99ef6d35abda486f8da0a0d114f9c819.mailgun.org
  SMTP_PASSWORD: 71a49c16f96bdb017179379318cfac26
  SMTP_AUTHENTICATION: plain # could be plain, login or cram_md5

  SUPPORT_MAIL: support@sandbox99ef6d35abda486f8da0a0d114f9c819.mailgun.org
  SYSTEM_MAIL_FROM: system@sandbox99ef6d35abda486f8da0a0d114f9c819.mailgun.org
  SYSTEM_MAIL_TO: group@sandbox99ef6d35abda486f8da0a0d114f9c819.mailgun.org
  OPERATE_MAIL_TO: support@sandbox99ef6d35abda486f8da0a0d114f9c819.mailgun.org

  # WebSocket Streaming API settings
  # --------------------------------------------------------------
  WEBSOCKET_HOST: 0.0.0.0
  WEBSOCKET_PORT: 8080
  # Uncomment below to enable secure WebSocket (wss)
  #WEBSOCKET_SSL_KEY: 'your_server.key'
  #WEBSOCKET_SSL_CERT: 'your_server.crt'

  # pusher settings
  # --------------------------------------------------------------
  # peatio dependence Pusher (http://pusher.com) service
  # you can change your key for production environment.
  # we support development key and secret
  # uncomment below line only development or test
  #
  # PUSHER_APP: 65910
  # PUSHER_KEY: 50d404c35db92d736a57
  # PUSHER_SECRET: 75d6e6685209cc60cc4d

  PUSHER_APP: 131135
  PUSHER_KEY: cdd8acbb5b033af81a25
  PUSHER_SECRET: 769cc870b3bfa6add013
  PUSHER_HOST: api.pusherapp.com
  PUSHER_PORT: 80
  PUSHER_WS_PORT: 80
  PUSHER_WSS_PORT: 443
  PUSHER_ENCRYPTED: true

  # twilio setting
  # --------------------------------------------------------------
  # https://github.com/twilio/twilio-ruby
  #
  TWILIO_NUMBER: +12055238109
  TWILIO_SID: ACd7182e929da24c4eb67637a895ba4cb5
  TWILIO_TOKEN: fbe3e2ca76ff1bac4a66e69eab2022c8


  # Third party auth

  # Weibo
  # --------------------------------------------------------------
  WEIBO_AUTH: on # on/off
  WEIBO_KEY: 3820920586
  WEIBO_SECRET: 2d6174dc698e86860c75d75b1e8a01c8

  # chat setting
  # --------------------------------------------------------------
  # Do you want chat feature in your exchange ?
  # send mail to community@peatio.com

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
